<%- include ('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/menu.css">
<link rel="stylesheet" type="text/css" href="/css/login.css">


<body>
     <div id="main_container">
       <div class="group_name">
              <ul class="nav" style="justify-content: center"> 
                     <li class="nav-item" style="cursor: pointer">
                       <a class="nav-link active" href="/resto">Home</a>
                     </li> 
                         <li class="nav-item" style="cursor: pointer">
                         <a class="nav-link" href="/resto/products/menu">MyResto</a>
                     </li>
                     <li class="nav-item" style="cursor: pointer">
                         <a class="nav-link" href="/resto/logout">Logout</a>
                     </li>
              </ul>
       </div>

       <div class="restaurant_menu_frame">
              <div class="restaurant_container">
                     <div class="dishs_table">
                            <span class="new_dish_txt">
                                   <%= member.mb_nick.toUpperCase()%> Taomlar Menusi
                            </span>
                            <table class="table table-bordered table-hover">
                                   <thead class="thead-light">
                                          <th scope="col">T/r</th>
                                          <th scope="col">Taom Nomi</th>
                                          <th scope="col">Taom Turi</th>
                                          <th scope="col">Taom Hajmi</th>
                                          <th scope="col">Taom Narxi</th>
                                          <th scope="col">Taom qoldiq miqdori</th>
                                          <th scope="col">Taom Holati</th>
                                   </thead>
                                   <% restaurant_data.map((value, key) => { %>
                                          <tbody style="background: white;">
                                                 <td><%= key + 1 %></td> <!--array noldan boshlangani uchun +1 yozildi yani 1-indexdan oqigin deb -->
                                                 <td><%= value.product_name %></td>
                                                 <td><%= value.product_collection %></td>
                                                 <td>
                                                        <%= value.product_collection === 'drink' ? value.product_volume
                                                        : value.product_size %>
                                                 </td>
                                                 <td><%= value.product_price %></td>
                                                 <td><%= value.product_left_cnt %></td>
                                                 <td>
                                                        <select class="spec_select" id="<%= value._id %>">
                                                               <option value="PAUSED" <%= value.product_status === 'PAUSED' ? 'selected' : '' %> >PAUSED</option>
                                                               <option value="PROCESS" <%= value.product_status === 'PROCESS' ? 'selected' : '' %> >PROCESS</option>
                                                               <option value="DELETED" <%= value.product_status === 'DELETED' ? 'selected' : '' %> >DELETED</option>
                                                        </select>
                                                        </td>
                                          </tbody>
                                   <% }); %>
                            </table>
                     </div>
                     <form 
                     onsubmit="return validateForm()" 
                     action="resto/products/create" 
                     method="POST"
                     class="dish_container" 
                     enctype="multipart/form-data"> <!--multipart/form-data borligini sababi form ichida img ham past  bolgani uchun.Agar yozilmasa img POST bolmaydi-->
                     <div class="long_input" style="align-items: flex-end; margin-bottom: 25px;">
                     <span class="new_dish_txt">Yangi Taom</span></div>
              </form>
              </div>
       </div>

     </div>
        
</body>
<%- include ('includes/footer') %>

